<section class="pt-2">
  <div class="section-title text-danger" id="aboutblog">
    <h2><span>About the blog - Why the blog's Fun!</span></h2>
  </div>

  <div class="container-fluid article-post">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img class="rounded-circle" src="{{ site.baseurl }}/assets/images/book.gif" alt="Responsive image">
    </div>

    {% assign author = site.authors.bala %}
    <p>
      I was always intrigued by the unfathomable potential & power of nature.<br>
      Everything that crossed my eyes seemed amazing;<br>
      the infinite skies, the flora, the fauna, the beauty of life & the technological advancement that was simplifying
      it.<br>
      As a greatest form of flattery, I tried to imitate many of these through art forms such as sketching & painting.<br>
      However, that didn't quench my thirst.
    </p>

    <p>
      Growing up in an engineering household, I dug a little deeper to recreate a working model of whatever I saw; hoping, the characteristic engineering impulse would at least aid me in understanding things better.<br>
      However I ended up with more questions on the what, how, why & why not; than answers.
    </p>

    <p>
      I was fortunate enough to find the answers to my queries in my mentors, starting with my parents, my sister, my aunt, close pals & the umpteen teachers who have guided me along the way.
    </p>

    <p>
      This blog is a sincere token of gratitude to all my tutors who have taught me to fish in the sea of knowledge by introducing me to Physics, Mathematics & Computer Science.<br>
      And ever since, I've been absorbed in the science, that makes you feel like you are magic.<br>
      It has helped me solve problems personally & professionally by delving down to the basics, by teaching me to
      <blockquote class="blockquote text-center">
        <p class="mb-0">"Address the root cause and not the symptoms"</p>
      </blockquote>
    </p>

    <p>
      Through my blogs I wish to<br>
      share my learnings, simplify technologies & problem statements and provide tips, answers & guidelines to some questions I used to seek;<br>
      All in the hope that it would help some likeminded questing soul to find answers & better their day.
    </p>

    <p>
      Also going by the famous quote
      <blockquote class="blockquote text-center">
        <p class="mb-0">"To live is to express oneself freely"</p>
        <footer class="blockquote-footer">Bruce Lee</footer>
      </blockquote>
      
      Via the blogs, I've expressed my views, ideas & opinions on various topics of my interest.
    <p>

    <p>
      I seek genuine feedback on the contents of my blog. If you have any suggestions for me or my blog, feel free to
      reach me out on <a href="{{ author.twitter }}">twitter</a> or <a href="{{ author.linkedin }}">linkedin</a>.<br>
      Your comments are much appreciated.
    </p>

    <p>
      I sincerely hope the blog can help you as much as it helps me. Join me as we unjargon our way through this enigma
      of life.
    </p>
  </div>
</section>