---
layout: default
title: Archive
---

<!-- Begin List Posts
================================================== -->
<section class="recent-posts">
<div class="section-title">
    {% comment %}
    <h2><span>{{ page.type | capitalize }} | {{ page.title }}</span></h2>
    {% endcomment %}
    <div class ="p-2 bg-secondary text-white h5">{{ page.type | capitalize }} | {{ page.title | capitalize }}</div>
</div>
<div class="row listrecent">

{% for post in page.posts %}

    {% include funfeaturedbox.html %}

{% endfor %}

</div>
</section>

