---
title: "Archives"
layout: default
permalink: "/archives.html"
---

{% assign years = "" | split: ',' %}
{% for post in site.posts %}
{% assign year = post.date | date: "%Y" %}
{% unless years contains year %}
{% assign years = years | push: year %}
{% endunless %}
{% assign year = nil %}
{% endfor %}


<div class="jumbotron fortags" style="--fortags-image: url(../images/13.jpg)">
    <div class="d-md-flex h-100">
        <div class="col-md-4 transpdark align-self-center text-center h-100">
            <div class="d-md-flex align-items-center justify-content-center h-100">
                <h2 class="d-md-block align-self-center py-1 font-weight-light">Archives <span
                        class="d-none d-md-inline">→</span></h2>
            </div>
        </div>
        <div class="col-md-8 p-5 align-self-center text-center">
            {% for year in years %}

            {% assign year_posts = "" | split: ',' %}
            {% for post in site.posts %}
            {% capture post_year %}{{post.date | date: "%Y"}}{% endcapture %}
            {% if year == post_year %}
                {% assign year_posts = year_posts | push: post %}
            {% endif %}
            {% endfor %}
            <a class="btn btn-dark mr-1" role="button"
                href="{{site.baseurl}}/archives#{{ year | url_escape | strip | replace: ' ', '-' }}">{{ year }} ({{year_posts.size}})</a>
            {% assign year_posts = nil %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="row listrecent">
    {% for year in years %}

    <div class="col-md-12 mt-4">
        <a href="{{site.baseurl}}/year/{{ year }}">
            <div class="p-2 bg-info text-white h5" id="{{ year }}">Year |
                <span>{{year}}</span>
            </div>
        </a>
    </div>

    {% for post in site.posts %}
    {% capture post_year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if year == post_year %}
        {% include funfeaturedbox.html %}
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>